@charset "utf-8";
/* CSS Document */

#myTypingText {
	height:30px;
	padding:7px 0 1px 0;
	padding-left: 6px;
	font-family:"Khmer OS Battambang";
	font-size:15px;
	color:#090;
	line-height:2.8em;
	}


